@model ViewChoiceStorage
<div class="bg-primary m-1 p-1 text-white"><h4>Удаление склада </h4></div>
<div asp-validation-summary=" All" class="text-danger"></div>

<form asp-action="DeleteStorage" method="post">
    <div class="form-group">
        <label asp-for="SelectedStorage">Выберите склад</label>
        <select class="form-control" asp-for="SelectedStorage"
                asp-items="@(new SelectList(Model.storages,"Id","Name"))">
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Удалить</button>
    <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>
