<div>
    <a class="btn btn-primary" asp-controller="Category" role="button" asp-action="AddCategory">Добавить категорию</a>
    <a class="btn btn-primary" asp-controller="Category" role="button" asp-action="EditCategory">Изменить категорию</a>
    <a class="btn btn-primary" asp-controller="Category" role="button" asp-action="DeleteCategory">Удалить категорию</a>
    <a class="btn btn-primary" asp-controller="Category" role="button" asp-action="ShowCategory">Показать категории</a>
</div>
<div>
    <a class="btn btn-primary" asp-controller="Storage" role="button" asp-action="AddStorage">Добавить склад</a>
    <a class="btn btn-primary" asp-controller="Storage" role="button" asp-action="EditStorage">Изменить склад</a>
    <a class="btn btn-primary" asp-controller="Storage" role="button" asp-action="DeleteStorage">Удалить склад</a>
    <a class="btn btn-primary" asp-controller="Storage" role="button" asp-action="DisplayStorage">Отобразить склад</a>
</div>
<div>
    <a class="btn btn-primary" asp-controller="Product" role="button" asp-action="AddProduct">Добавить Product</a>
    <a class="btn btn-primary" asp-controller="Product" role="button" asp-action="AddProduct">Добавить склад</a>
</div>
<div>
    <a class="btn btn-primary" asp-controller="Currency" role="button" asp-action="UpdateCurrency">Обновить курс</a>
</div>

