@model ViewChoiceCategory
<div class="bg-primary m-1 p-1 text-white"><h4>Изменение категорий </h4></div>
<div asp-validation-summary=" All" class="text-danger"></div>

<form asp-action="EditCategory" method="post">
    <div class="form-group">
        <label asp-for="SelectedCategory">Выберите категорию</label>
        <select class="form-control" asp-for="SelectedCategory"
                asp-items="@(new SelectList(Model.categories,"Id","Name"))">
        </select>
        <div class="form-group">
            <label asp-for="NewName">Введите новое название категории</label>
            <input asp-for="NewName" class="form-control" />
        </div>
    </div>
        <button type="submit" class="btn btn-primary">Изменить</button>
        <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>
